input[type=file]::-ms-browse {
  cursor: pointer;
  border-radius: .2em;
  background-color: lightgrey;
}

input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
  border-radius: .2em;
  background-color: lightgrey;
  transition: 1s;
}

input[type=file]::file-selector-button {
  cursor: pointer;
  border-radius: .2em;
  background-color: lightgrey;
  transition: 1s;
}

input[type=file]::-ms-browse:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

input[type=file]::-webkit-file-upload-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

.btn {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn:focus {
  outline: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  margin: 10%;
  text-align: center;
}

.btn {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
/* .btn
{
    background-color:lightgrey;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 180px;
}

.btn:active {
    background-color: rgb(232, 246, 248);
    box-shadow: 0 2px #666;
    transform: translateY(3px);
    color:#afe5fb;


}
.btn:hover {
    background-color:rgb(232, 246, 248);
    box-shadow: 0 2px #666;
    transform: translateY(3px);
    color: #00B6FF;  

} */